WORDPRESS_URL="https://wordpress.com"
WORDPRESS_HOSTNAME="wordpress.com"
WP_USER="root"
# Generate this in WordPress Admin > Users > Your Profile > Application Passwords
WP_APPLICATION_PASSWORD="your-application-password-here"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET="your-secret-key-here"
DATABASE_URL=mysql://wordpress:wordpress@localhost:3306/wordpress
