WORDPRESS_URL="your-wordpress-url"
WORDPRESS_POST_URL="https://www.cvhowlader.com"
WORDPRESS_HOSTNAME="your-wordpress-hostname"
WP_USER="root"
# Generate this in WordPress Admin > Users > Your Profile > Application Passwords
WP_APPLICATION_PASSWORD="your-application-password-here"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET="your-secret-key-here"
# DATABASE_URL=mysql://root:root@localhost:3306/portfolio_db

DB_HOST='localhost'
DB_USER='your-db-username'
DB_PASSWORD='your-db-password'
DB_NAME='your-db-name'
DB_PORT=3306
